ALIBABA_ACCESS_KEY_ID=your_access_key_id
ALIBABA_ACCESS_KEY_SECRET=your_access_key_secret
ALIBABA_INSTANCE_ID=your_instance_id
ALIBABA_REGION=cn-hangzhou
PROXY_EIP=your.eip.address
SERVER_HOST=your.eip.address
SS_PASSWORD=your_shadowsocks_password
SS_PORT=443
SS_CIPHER=chacha20-ietf-poly1305
SOCKS_PORT=10808
# Windows: XRAY_EXE=C:\path\to\v2rayN-windows-64\bin\xray\xray.exe
# Linux:   XRAY_EXE=/usr/local/bin/xray
XRAY_EXE=/usr/local/bin/xray
